@page
@inject UserManager<Ivteks72.Domain.ApplicationUser> UserManager

@model IndexModel
@{
    ViewData["Title"] = "Profile of:";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<span class="active">@UserManager.GetUserName(User)</span>
<p> </p>
<div class="col-auto">
    <div>
        <a class="btn btn-primary" asp-page="ChangePassword" role="button">Change Password</a>
        <a class="btn btn-primary" asp-page="PersonalData" role="button">Personal Data</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}