@{
    ViewData["Title"] = "About our firm";
}
<h1>@ViewData["Title"]</h1>

<div class="wrapper row2">
    <div id="container" class="clear">
        <div id="about-us" class="clear">
            <section id="about-intro" class="one_third first">
                <h2>IVTEKS 72 EOOD</h2>
                <div class="panorama"><img class="imgholder" src="images/demo/290x170.gif" alt=""></div>
                <p>&quot;Peter Ivanov / Company Director&quot;</p>
                <p>Ivteks72 is a full-service cut and sew manufacturer of highly crafted sewn objects with socially responsible and unconventional business concepts. After watching thousands of textile job move overseas, Ivteks72 was founded in 2010 as an effort to preserve the skill of sewing and our domestic manufacturing economy.  We provide living wage work in a light-filled studio.  Our focus is on discerning quality.  We believe the way to compete with overseas production is through exquisite craftsmanship. </p>
            </section>
            <section id="skillset" class="one_third">
                <h2>Vivamuslibero Auguer</h2>
                <p>Lorem ipsum dolor sit amet, consectetaur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                <p>Laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Et harumd und.</p>
                <h2>Vivamuslibero Auguer</h2>
                <ul>
                    <li>Aliquam venenatis leo et orci.</li>
                    <li>Pellentesque eleifend vulputate massa.</li>
                    <li>Vivamus eleifend sollicitudin eros.</li>
                    <li>Maecenas vitae nunc.</li>
                    <li>Ut pretium odio eu nisi.</li>
                    <li>Nam condimentum mi id magna.</li>
                    <li>Pellentesque consectetuer, felis vel rhoncus.</li>
                    <li>Sed sollicitudin bibendum dui.</li>
                    <li>Nullam tempus erat id tortor.</li>
                </ul>
            </section>
            <section id="team" class="one_third">
                <h2>Vivamuslibero Auguer</h2>
                <ul class="clear">
                    <li>
                        <figure>
                            <img src="~/lib/pictures/Untitled.png" alt="">
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img src="~/lib/pictures/Untitled2.png" alt="">
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img src="~/lib/pictures/Untitled3.png" alt="">
                        </figure>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>