@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<section id="feature" class="ab_feature roomy-100">
    <div class="container">
        <div class="row">
            <div class="main_ab_feature">

                <div class="col-md-6">
                    <!-- Head Title -->
                    <div class="head_title">
                        <h2>Story about us</h2>
                        <h5>
                            <em>
                                Pouseidon brings the waves to somewhere so far,
                                with beautiful & elegant
                            </em>
                        </h5>
                        <div class="separator_left"></div>
                    </div><!-- End off Head Title -->

                    <div class="ab_feature_content wow fadeIn m-top-40">
                        <p>
                            Eusus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores
                            legere me lius quod ii legunt saepius. Duis autem vel eum iriure dolor in hendrerit vulputate
                            velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et
                            accumsan et iusto odio dignissim qui blandit praesent luptatum
                        </p>

                        <p>
                            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,
                            vel illum dolore feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim
                        </p>
                    </div>
                </div>
            </div>
        </div><!--End off row-->
    </div><!--End off container -->
</section>
<div class="container">
    <div class="row">
        <div class="main_cbrand text-center">
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="cbrand_item m-bottom-10">
                    <a href="~/lib/pictures/Untitled.png"><img src="~/lib/pictures/Untitled.png" alt="" /></a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="cbrand_item m-bottom-10">
                    <a href="~/lib/pictures/Untitled2.png"><img src="~/lib/pictures/Untitled2.png" alt="" /></a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="cbrand_item m-bottom-10">
                    <a href="~/lib/pictures/Untitled3.png"><img class="" src="~/lib/pictures/Untitled3.png" alt="" /></a>
                </div>
            </div>
        </div>
    </div><!-- End off row -->
</div><!-- End off container -->
