@{
    ViewData["Title"] = "About our firm";
}


<header class="masthead">
    <div class="wrapper row2">
        <div id="container" class="clear">
            <div id="about-us">
                <section id="about-intro" class="one_third first">
                    <h2 class="text-lg-center">IVTEKS 72 EOOD</h2>
                    <p>&quot;Peter Ivanov / Company Director&quot;</p>
                    <p>Ivteks72 is a full-service cut and sew manufacturer of highly crafted sewn objects with socially responsible and unconventional business concepts. After watching thousands of textile job move overseas, Ivteks72 was founded in 2010 as an effort to preserve the skill of sewing and our domestic manufacturing economy.  We provide living wage work in a light-filled studio.  Our focus is on discerning quality.  We believe the way to compete with overseas production is through exquisite craftsmanship. </p>
                </section>
            </div>
        </div>
    </div>
</header>
<header class="masthead">
    <div class="wrapper row2">
        <div id="container" class="clear">
            <div id="about-us">
                <section id="about-intro" class="one_third first">
                    <p>Our firm is located in the city of Pazardzjik in Bulgaria.</p>
                </section>
            </div>
        </div>
    </div>
    <div class="wrapper row2">
        <div id="container" class="clear">
            <div id="about-us">
                <section id="about-intro" class="one_third first">
                    <img src="~/lib/pictures/Location.png" height="350" width="400">
                </section>
            </div>
        </div>
    </div>
</header>