@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url("https://cdn.hipwallpaper.com/i/17/17/u5c7WI.jpg");
            background-color: #cccccc;
        }
    </style>
</head>
<body>
    <h1 class="text-capitalize center-block">Hello from Ivteks72</h1>
</body>
</html>