@{
    ViewData["Title"] = "Home Page";
}

<div>Welcome To @Resource.FirmName!</div>
<div>@Resource.Greeting</div>
<a class="btn btn-dark text-sm-center" asp-controller="Home" asp-action="About">Tell Me More About The Firm</a>
