@model Ivteks72.App.Models.Clothing.ClothingCreateViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>ClothingCreateViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="clothing" asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="file" name="photo" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fabric" class="control-label"></label>
                <input asp-for="Fabric" class="form-control" />
                <span asp-validation-for="Fabric" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricePerUnit" class="control-label"></label>
                <input asp-for="PricePerUnit" class="form-control" />
                <span asp-validation-for="PricePerUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

