@model Ivteks72.App.Models.Order.AdminChangeOrderViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>AdminChangeOrderViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderStatus" class="control-label">Change Order status</label>
                <select id="select" >
                    <option value="">--Please choose an option--</option>
                    <option value="pending">Pending</option>
                    <option value="accept">Accept</option>
                    <option value="finished">Finished</option>
                    <option value="Rejected">Rejected</option>
                </select>
                <span asp-validation-for="OrderStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Administrator" asp-action="ViewAllOrders">Back to List</a>
</div>

