@model List<Ivteks72.App.Models.Invoice.InvoiceViewModel>

@{
    ViewData["Title"] = "ViewAllInvoices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 div class="jumbotron justify-content-lg-between text-center">All Invoices</h1>

<input type="text" class="form-control text-primary" id="myInput" name="search" placeholder="Search..." />
<table class="table table-striped text-center">
    <thead>
        <tr>
            <th>
                BIlled To
            </th>
            <th>
                Company Name
            </th>
            <th>
                Clothing Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="myTable">
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].BIlledToUser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].ClothingName)
                </td>
                <td>
                    <span class="btn btn-dark text-sm-center">@Html.ActionLink("Details", "InvoiceDetails", new { id = Model[i].Id }) </span>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
