@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="align-items-center">
    <h2 class="intro-text text-center">Thank you for confirming your email.</h2>
</div>
<div class="text-center">
    <a asp-page="./Login" class="btn btn-dark text-info">Go to Login</a>
</div>