@page
@model Ivteks72.App.Areas.Identity.Pages.Account.ConfirmationEmailSendModel
@{
}

@{
    ViewData["Title"] = "ConfirmationEmailSend";
}
<div class="align-items-center">
    <h1 class="text-info text-center intro-text">Thank you for your registration!</h1>
    <hr class="my-4" />
    <h2 class="text-info text-center intro-text">A Confirmation Email has been sent to you. Before login please check your inbox for an email containing a verification link.</h2>
    <hr class="my-4" />
</div>